@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
}

body {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  text-align: center;
}

h1 {
  font-size: 46px;
  font-weight: 600;
}

h3 {
  font-weight: 600;
}

.start {
  box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
  outline: none;
  border: none;
  width: 60px;
  height: 60px;
  cursor: pointer;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.start:hover {
  box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
  background: none;
}

.bx-mouse-alt {
  font-size: 24px;
  color: #fff;
}

.screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  transition: margin 0.5s ease-out;
  background: linear-gradient(90deg, #29323C 0%, #485563 100%);
}

.screen.up {
  margin-top: -100vh;
}

.time-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin-top: 0px;
}

.time-list li {
  margin: 0px 10px 0px 10px;
}

.time-btn {
  background-color: transparent;
  border: 2px solid #fff;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  cursor: pointer;
  font-family: inherit;
  padding: 10px 15px 10px 15px;
  transition: .3s;
  border-radius: 10px;
}

.time-btn:hover {
  border: 2px solid #3498db;
  color: #3498db;
}

.hide {
  opacity: 0;
}

.primary {
  color: #3498db;
}

.danger {
  color: red;
}

.board {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  max-width: 500px;
  height: 500px;
  background: linear-gradient(118.38deg, #29323C -4.6%, #485563 200.44%);
  box-shadow: -8px -8px 20px #2A333D, 10px 7px 20px #475462;
  border-radius: 10px;
  overflow: hidden;
}

.circle {
  position: absolute;
  border-radius: 50%;
  cursor: pointer;
}